<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Glamour Salon - Website</title>
    <link rel="stylesheet" href="/1stbean/academy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
        <!-- = = = = = = = = = = header = = = = = = = = = = -->
        <nav>
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="image not found"></a>
                <h2>The Glamour Salon <span><br> hair & Beauty</span></h2>
            </div>
                
            
            <ul>
                <li><a href="Services">SERVICES</a></li>
                <li><a href="Academy">ACADEMY</a></li>
                <li><a href="Franchise">FRANCHISE</a></li>
            </ul>
            <div>
                <a href="Appointment" class="shop">Contact US - Booking Seat</a>
                <a href="Shop" class="shop" target="_blank" rel="noopener noreferrer">Salon Product - Shop Now</a>
            </div>
        </nav>  <!-- = = = = = = = = = = header = = = = = = = = = = -->



        <!-- = = = = = = = = = = academy intro = = = = = = = = =  -->
        <div class="academy-intro">
            <div class="academy-img">
                <img src="/img/academy1.png" alt="image not found">
                <img src="/img/academy2.png" alt="image not found">
            </div>
            <div class="academy-msg">
                <h4>Academy</h4>
                <p>The Glamour Salon hair & Beauty Academy provides scientific and systematic training to aspiring stylists, so that they can excel in their careers and revolutionize the art of hairstyling, beauty and makeup in India with practical experience through its on-site salon.</p>
            </div>
        </div>


        <!-- = = = = = = = = = academy-tag   = = = = = = = = = -->
        <div class="academy-tag">
            <img src="/img/academy-tag.webp" alt="image not found">
            <img src="/img/academy-tag2.webp" alt="image not found">
        </div>

    
        <!-- = = = = = = = = = trainer   = = = = = = = = = -->
        <div class="trainer">
            <h4>Our trainer</h4>
            <div class="trainer-container">
                <div class="trainer-img1">
                    <img src="/img/trainer.webp" alt="image not found">
                    <h5>mr. manoj kumar</h5>
                    <p>Head Trainer</p>
                </div>
                <div class="trainer-img2">
                    <img src="/img/trainer2.webp" alt="image not found">
                    <h5>mr. manoj kumar</h5>
                    <p>Technical Head</p>
                </div>
                <div class="trainer-img3">
                    <img src="/img/trainer3.webp" alt="image not found">
                    <h5>miss. neha kumari</h5>
                    <p>Education Head</p>
                </div>
                <div class="trainer-img4">
                    <img src="/img/trainer4.webp" alt="image not found">
                    <h5>mr. manoj kumar</h5>
                    <p>Technical Manager (Make-Up)</p>
                </div>
                <div class="trainer-img5">
                    <img src="/img/trainer5.webp" alt="image not found">
                    <h5>miss. neha kumari</h5>
                    <p>Lead Academy Trainer</p>
                </div>
            </div>
        </div><!-- = = = = = = = = = trainer = = = = = = = = = -->


        <!-- = = = = = = = = = =   achievement  = = = = = = = = = -->
        <div class="achievement">
            <h3>Meticulous Achievements</h3>
            <p>10 Million+ Students | Mentors 40+ Hair Institutes | Winner Of Limca Book Of Record | 410+ Haircuts
                <span>After introducing Hair & Beauty to the world, we have created many amazing world records of haircuts. With this master stroke, we have given a new direction to Hair & Beauty styles in the world. For our creative haircuts faster than the speed of mind, we are often considered unique in the world of Hair & Beauty, who have not just art but magical talent. People from all over the world come to learn Hair & Beauty skills from us.</span>
            </p>
        </div><!-- = = = = = = = = = =   achievement  = = = = = = = = = -->

        
        <!--  = = = = = = = =  benefits = = = = = = = = -->
        <div class="benefits">
            <div class="benefits-lists">
                <h5>Affordable Course Fee</h5>
                <h5>Experienced Faculty</h5>
                <h5>India’s Leading Academy Chain</h5>
                <h5>100% Finance Option</h5>
                <h5>100% Job Assistance</h5>
            </div>
            <div class="benefits-theory">
                <h4>BENEFITS</h4>
                <p>Education can change the dynamics of any profession. One must not only acquire education but also constantly aspire to gain more knowledge. Today, the hair & beauty profession is the most sought-after profession in the world and the day is not far when this profession will overtake traditional professions like doctors or engineers. The Glamour Salon hair & Beauty academies have a reputation as the leading hairstyling academies in the world. With such unique features and unquestionable reputation, The Glamour Salon hair & Beauty academies spread across the world are the best choice to start a career in the hair & beauty profession.</p>
            </div>
        </div> <!--  = = = = = = = =  benefits = = = = = = = = -->


        <!-- = = = = = = = = course-lists = = = = = = = -->
        <div class="course-lists">
            <h3>Course's List</h4>
            <div class="course-lists1">
                <div class="Course-1">
                    <img src="/img/course1.webp" alt="image not found">
                    <h4>Hair cutting Courses</h4>
                </div>
                <div class="Course-2">
                    <img src="/img/course2.webp" alt="image not found">
                    <h4>Beauty Courses</h4>
                </div>
            </div>

            <div class="course-lists2">
                <div class="Course-3">
                    <img src="/img/course3.webp" alt="image not found">
                    <h4>Make Up Courses</h4>
                </div>
                <div class="Course-4">
                    <img src="/img/course4.webp" alt="image not found">
                    <h4>Nail Art Courses</h4>
                </div>
                <div class="Course-5">
                    <img src="/img/course5.webp" alt="image not found">
                    <h4>Cosmetology Professional</h4>
                </div>
            </div>
        </div> <!-- = = = = = = = = course-lists = = = = = = = -->

        <div class="academy-contact-us">
            <h3>Contact Us</h3>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <div class="academy-contact-us-form">
                <form action="#" th:action="@{/SaveInquiries}" th:object="${inquiries}" method="post">
                    <input type="text" th:field="*{firstName}" placeholder="Frist Name*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <input type="text" th:field="*{lastName}" placeholder="Last Name*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <br>
                    <input type="text" th:field="*{contacts}" placeholder="Contact Number*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <input type="text" th:field="*{email}" placeholder="Email*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <br>
                    <input type="text" th:field="*{city}" placeholder="City/Distict*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <input type="text" th:field="*{address}" placeholder="Address*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <br>
                    <input type="text" th:field="*{massage}" placeholder="Massage*" style="border: none; border-bottom: 1px solid black; border-radius: 10px;">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>


            <!-- = = = = = = = = = = FOOTER = = = = = = = = = = -->
    <footer class="footer" id="ab">
        <div class="footer-container">
            
            <div class="footer-info">
                <h3>About Us</h3>
                <p>We take care of hair and skin like a baby, giving extra confidence and some more attitude</p>
                <h3 class="footer__title">Information</h3>
                <p>Services
                <br>Academy 
                <br>Franchise
                <br>E-appointment
                <br>E-Shopping
                <br>Terms and conditions 
                <br>Privacy policy</p>  
            </div>
            <div class="footer-contact">
                <h3>Address</h3>
                <p>123, The Glamour Salon, Vijay Nagar, Indore</p>
                <h3>Contact Us</h3>
                <p>Phone: (0731) 456-7890</p>
                <p>Mobile: +91 012 345 6789</p>
                <p>Email: <a href="mailto:info@theGlamourSalon.com">info@TheGlamourSalon.com</a></p>
                <div class="our-top-services">
                    <h3>Our Top Services</h3>
                    <div class="our-top-services-images">
                        <div>
                            <img src="/img/footer-hair.jpeg" alt="image not found">
                            <h5>Hair</h5>
                        </div>
                        <div>
                            <img src="/img/footer-beauty.jpg" alt="image not found">
                            <h5>Beauty</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-social">
                <div class="footer-newsletter">
                    <form action="#" method="post">
                        <h3>Newsletter</h3>
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="#facebook.com"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="#twitter.com"><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li><a href="#youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
                <h3>Mobile apps</h3>
                <ul class="social-icons">
                    <li><a href="#playstore.com"><i class="fa-brands fa-google-play"></i></a></li>
                    <li><a href="#appstore.com"><i class="fa-brands fa-apple"></i></a></li>
                </ul>
            </div>
        </div>     <!-- class="footer-container" -->

        <div class="footer-bottom">
            <p>&copy; 2025 The The Glamour Salon hair & Beauty. All rights reserved.</p>
        </div>
     </footer>

        

</body>
</html>