<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Glamour Salon - Website</title>
    <link rel="stylesheet" href="/1stbean/franchise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- ----- = = = = = = = header = = =  = = = ----- -->
    <nav>
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="image not found"></a>
            <h2>The Glamour Salon <span><br> hair & Beauty</span></h2>
        </div>
            
        
        <ul>
            <li><a href="Services">SERVICES</a></li>
            <li><a href="Academy">ACADEMY</a></li>
            <li><a href="Franchise">FRANCHISE</a></li>
        </ul>
        <div>
            <a href="Appointment" class="shop">Contact US - Booking Seat</a>
            <a href="Shop" class="shop" target="_blank" rel="noopener noreferrer">Salon Product - Shop Now</a>
        </div>
    </nav> <!----- = = = = = = = header = = = = = = = ---- -->

    
    <div class="franchise">
        <h3>Franchise - We offer franchises all over the world.</h3>
    </div>

    <div class="franchise-motive">
        <h3>The Glamour Salon Hair and Beauty</h3>
        <h4>Your gateway to the hair and beauty industry</h4>
        <h5>At the end of the day, it's all about the experience! And we at Glamour Salon Hair and Beauty believe in providing a holistic makeover experience. So from styling to coloring, beauty to grooming, we've got you covered! A full-service salon staffed with the best-trained stylists and professional colorists, Glamour Salon Hair and Beauty crafts expert cuts, color techniques and products to create and evolve a sophisticated you effortlessly!</h5>
        <a href="#franchise-form"><button class="franchise-btn">FRANCHISE FORM</button></a>
    </div>
    

    <div class="Join-us">
        <h3>Let's "Join-Us"</h3>
    </div>

    <div class="franchise-container">
        <h3>Franchise Process</h3>
        <div class="franchise-process">
            <div class="process-1">
                <a href="#franchise-form"><h4>Fill the form</h4></a>
                <h4>Site Visit</h4>
                <h4>Start your Salon/Academy</h4>
            </div>
            <div class="process-2">
                <h4>Business model discussion</h4>
                <h4>Agreement Signing</h4>
                <h4>Start your Business</h4>
            </div>
        </div>
        <div class="in">
            <p>let's start your business <span>in</span> hair & beauty</p>
        </div>
    </div>

    <div class="franchise-script">  
        <div class="franchise-script-img-1">
            <img src="/img/franchise1.jpg" alt="image not found">
        </div>
        <div class="franchise-script-msg">
            <h3>Join the Glamour Salon Hair & Beauty team</h3>
            <p>Join the Glamour Salon Hair & Beauty team as they transform the hair and beauty industry! Now is your chance to provide your clients with the holistic experience of a full-service salon. You are just steps away from providing a comfortable, relaxed atmosphere for hair and beauty solutions!</p>
            <a href="Franchise"><button>Know More</button></a>
        </div>
        <div class="franchise-script-img-2">
            <img src="/img/franchise2.jpeg" alt="image not found">
        </div>
    </div>


    <div class="business">
        <h3>Business</h3>
    </div>


    <div class="our-franchise">
        <h3>Our Global Franchise Network</h3>
        <div class="franchise-list">
            <div class="franchise-item">
                <img src="/img/franchise-img.webp" alt="image not found">
                <p>Glamour Salon - Delhi</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img2.jpg" alt="image not found">
                <p>Glamour Salon - Bangalore</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img3.jpg" alt="image not found">
                <p>Glamour Salon - New York</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img4.jpg" alt="image not found">
                <p>Glamour Salon - London, UK</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img5.webp" alt="image not found">
                <p>Glamour Salon - Mumbai</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img6.webp" alt="image not found">
                <p>Glamour Salon - Dubai, UAE</p>
            </div>
            <div class="franchise-item">
                <img src="/img/franchise-img7.webp" alt="image not found">
                <p>Glamour Salon - Japan</p>
            </div>
        </div>
    </div>


    <div class="offerings-container">
        <div class="Offerings">
            <h3>Offerings</h3>
            <p>We help you experience a complete makeover! It includes every service that makes you better. From styling to coloring, beauty to grooming.
        <br>
                We will be the best help to grow your business and help you reach new heights in the field of hair and beauty
        <br>    <span>Space requirement :</span> 1000-1500 sq ft</p>
        </div>
        <div class="offerings-img">
            <img src="/img/offerings.webp" alt="image not found">
        </div>
        <div class="offerings-services">
            <h5>Hair & Beauty</h5>
            <h5>Hair Studios</h5>
            <h5>Beauty Studios</h5>
            <h5>The Glamour Salon</h5>
            <h5>The Glamour Salon Utra Pro</h5>
            <h5>Academy</h5>
            <h5>Online Course</h5>
        </div>

        <div class="offerings-meeting">
            <h5>Meetings</h5>
        </div>
    </div>


    <div class="franchise-taker">
        <div class="franchise-taker-img">
            <img src="/img/franchise-taker.jpg" alt="image not found">
        </div>
        <div class="franchise-taker-speech">
            <p> "I was always very passionateabout hair styling. I was very interested in hair and beauty art. So I joined The Glamor Salon Hair & Beauty Academy to learn it. I learned this art here and then I joined The Glamor Salon Hair & Beauty franchise and it makes me very happy that now I am a part of The Glamor Salon Hair & Beauty family."
                <br> <br>
                <span>Mr. john Tailer, The Glamour Salon Hair & Beauty's Student, The Glamour Salon Hair & Beauty's Franchisee Owner (george V Road, UK)</span>  </p>
        </div>
    </div>

    <div class="franchise-apply">
        <div class="franchise-apply-img">
            <img src="/img/apply.webp" alt="umage not found">
            <h3>Apply For Franchise by Filling the Form</h3>
        </div>
        <div class="franchise-apply-form">
            <form action="#" id="franchise-form" th:action="@{/SaveFranchise}" th:object="${franchise}" method="post">
                <input type="text" th:field="*{firstName}" placeholder="Frist Name">
                <input type="text" th:field="*{lastName}" placeholder="Last Name">
                <input type="email" th:field="*{email}" placeholder="Email Address">
                <input type="text" th:field="*{contacts}" placeholder="Contact Number">
                <input type="text" th:field="*{city}" placeholder="Proposed City for Salon/Academy">
                <input type="text" th:field="*{Address}" placeholder="Proposed Address for Salon/Academy">
                <textarea name="message" th:field="*{massage}" placeholder="Enter Message"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>


        <!-- = = = = = = = = = = FOOTER = = = = = = = = = = -->
        <footer class="footer" id="ab">
            <div class="footer-container">
                
                <div class="footer-info">
                    <h3>About Us</h3>
                    <p>We take care of hair and skin like a baby, giving extra confidence and some more attitude</p>
                    <h3 class="footer__title">Information</h3>
                    <p>Services
                    <br>Academy 
                    <br>Franchise
                    <br>E-appointment
                    <br>E-Shopping
                    <br>Terms and conditions 
                    <br>Privacy policy</p>  
                </div>
                <div class="footer-contact">
                    <h3>Address</h3>
                    <p>123, The Glamour Salon, Vijay Nagar, Indore</p>
                    <h3>Contact Us</h3>
                    <p>Phone: (0731) 456-7890</p>
                    <p>Mobile: +91 012 345 6789</p>
                    <p>Email: <a href="mailto:info@theGlamourSalon.com">info@TheGlamourSalon.com</a></p>
                    <div class="our-top-services">
                        <h3>Our Top Services</h3>
                        <div class="our-top-services-images">
                            <div>
                                <img src="/img/footer-hair.jpeg" alt="image not found">
                                <h5>Hair</h5>
                            </div>
                            <div>
                                <img src="/img/footer-beauty.jpg" alt="image not found">
                                <h5>Beauty</h5>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="footer-social">
                    <div class="footer-newsletter">
                        <form action="#" method="post">
                            <h3>Newsletter</h3>
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                    <h3>Follow Us</h3>
                    <ul class="social-icons">
                        <li><a href="#facebook.com"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="#twitter.com"><i class="fa-brands fa-square-twitter"></i></a></li>
                        <li><a href="#youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                    <h3>Mobile apps</h3>
                    <ul class="social-icons">
                        <li><a href="#playstore.com"><i class="fa-brands fa-google-play"></i></a></li>
                        <li><a href="#appstore.com"><i class="fa-brands fa-apple"></i></a></li>
                    </ul>
                </div>
            </div>     <!-- class="footer-container" -->
    
            <div class="footer-bottom">
                <p>&copy; 2025 The The Glamour Salon hair & Beauty. All rights reserved.</p>
            </div>
         </footer>
    



</body>
</html>