<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1stbean/franchiselist.css">
    <title>The Glamour Salon - Website</title>
</head>
<body>
<div class="header">
  <nav>
    <!-- Logo -->
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="image not found"></a>
      <h2>The Glamour Salon <span><br> hair & Beauty</span></h2>
    </div>

    <!-- Hamburger Button -->
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Nav Links -->
    <ul id="nav-links">
      <li><a href="Services">SERVICES</a></li>
      <li><a href="Academy">ACADEMY</a></li>
      <li><a href="Franchise">FRANCHISE</a></li>
    </ul>

    <!-- Buttons -->
    <div class="actions">
      <a href="Appointment" class="shop">Contact US - Booking Seat</a>
      <a href="Shop" class="shop">Salon Product - Shop Now</a>
    </div>
  </nav>
</div>


<script>
  const hamburger = document.getElementById("hamburger");
  const navLinks = document.getElementById("nav-links");
  const actions = document.querySelector(".actions");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    navLinks.classList.toggle("active");
    actions.classList.toggle("active");
  });
</script>

<div class="adminButton">
    <a href="AdminPage"><button class="for-admin">Go to Admin page</button></a>
</div>


<div class="headerTable">
    <h3 class="headingTable">All Franchise Inquiries List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Contacts</th>
                <th>Email</th>
                <th>City</th>
                <th>Address</th>
                <th>Massage</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="franchise:${allfranchiseList}">
                <td th:text="${franchise.firstName}"></td>
                <td th:text="${franchise.lastName}"></td>
                <td th:text="${franchise.contacts}"></td>
                <td th:text="${franchise.email}"></td>
                <td th:text="${franchise.city}"></td>
                <td th:text="${franchise.Address}"></td>
                <td th:text="${franchise.massage}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>