<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Glamour Salon - Website</title>
</head>
<body>
    <a href="AdminPage"><button style="background-color: #007BFF; margin: 10px; padding: 10px;">Go to Admin page</button></a>
    <div class="header">
        <h3 class="head">All Franchise Inquiries List</h3>
        <table border="2px">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Contacts</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Massage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="franchise:${allfranchiseList}">
                    <td th:text="${franchise.firstName}"></td>
                    <td th:text="${franchise.lastName}"></td>
                    <td th:text="${franchise.contacts}"></td>
                    <td th:text="${franchise.email}"></td>
                    <td th:text="${franchise.city}"></td>
                    <td th:text="${franchise.Address}"></td>
                    <td th:text="${franchise.massage}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>