<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Glamour Salon - Website</title>
    <link rel="stylesheet" href="/1stbean/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
        <!-- ----- = = = = = = = header = = =  = = = ----- -->
        <nav>
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="image not found"></a>
                <h2>The Glamour Salon <span><br> hair & Beauty</span></h2>
            </div>
                
            
            <ul>
                <li><a href="Services">SERVICES</a></li>
                <li><a href="Academy">ACADEMY</a></li>
                <li><a href="Franchise">FRANCHISE</a></li>
            </ul>
            <div>
                <a href="Appointment" class="shop">Contact US - Booking Seat</a>
                <a href="Shop" class="shop" target="_blank" rel="noopener noreferrer">Salon Product - Shop Now</a>
            </div>
        </nav><!-- ----- = = = = = = = header = = =  = = = ----- -->
    
        <div class="ser_intro">
            <video autoplay muted loop>
                <source src="/videos/Services_video.mp4" type="video/mp4">
            </video>
        </div>

        <div class="para">
            <p>Our experts have handpicked some of the most popular services at <span class="span1">The Glamour Salon <span class="span2">hair & Beauty</span> </span> for you. Choose your preference and visit your nearest branch and start your makeover!</p>
        </div>

        <div class="services-font">
            <h4>SERVICES</h4>
            <div class="section-font-list">
                <div class="service-list">
                    <h3>Skin</h3>
                    <ul>
                        <li>Skin Care - Treatments</li>
                        <li>Body Care</li>
                        <li>Skin Care</li>
                        <li>Skin Care - Basics</li>
                        <li>Skin Care - Depilation</li>
                        <li>Consultation</li>
                    </ul>
                </div>
                <div class="service-list">
                    <h3>Hair</h3>
                    <ul>
                        <li>Form</li>
                        <li>Hair Care</li>
                        <li>Colors</li>
                        <li>Styling</li>
                        <li>Haircut</li>
                        <li>Consultation</li>
                    </ul>
                </div>
                <div class="service-list">
                    <h3>Makeup</h3>
                    <ul>
                        <li>Styling</li>
                        <li>Saree Drape</li>
                        <li>Makeup</li>
                        <li>Outdoor</li>
                        <li>Eyes</li>
                        <li>Consultation</li>
                    </ul>
                </div>
                <div class="service-list">
                    <h3>Hands & Feet</h3>
                    <ul>
                        <li>Hand Care</li>
                        <li>Feet Care</li>
                        <li>Nails</li>
                        <li>Consultation</li>
                    </ul>
                </div>
            </div>
        </div>   <!-- = = = = = services-font = = = = -->

        <div class="service-1">
            <div class="row_img">
                <div class="img1">
                    <img src="/img/service1.webp" alt="image not found  ">
                    <h3>Manicure & Pedicure</h3>    
                </div>
                <div class="img2">
                    <img src="/img/service2.webp" alt="image not found">
                    <h3>Eyebrow Shaping</h3>
                </div>
                <div class="img3">
                    <img src="/img/service3.webp" alt="image not found">
                    <h3>Hair Spa</h3>
                </div>
            </div>

            <div class="column_img">
                <div class="column1">
                    <div class="img4">
                        <img src="/img/service4.webp" alt="image not found">
                        <h3>Keratin Treatment</h3>
                    </div>
                    <div class="img5">
                        <img src="/img/service5.webp" alt="image not found">
                        <h3>Advanced Facial treatments</h3>
                    </div>
                </div>

                <div class="column2">
                    <div class="img6">
                        <img src="/img/service6.webp" alt="image not found">
                        <h3>Creative Coloring</h3>
                    </div>
                    <div class="img7">
                        <img src="/img/service7.webp" alt="image not found">
                        <h3>Saree Draping</h3>
                    </div>
                    <div class="img8">
                        <img src="/img/service8.webp" alt="image not found">
                        <h3>Cysteine treatment</h3>
                    </div>
                </div>

                <div class="column3">
                    <div class="img10">
                        <img src="/img/service10.webp" alt="image not found">
                        <h3>Air Brush</h3>
                    </div>
                    <div class="img11">
                        <img src="/img/service11.webp" alt="image not found">
                        <h3>Nail Extensions</h3>
                    </div>
                    <div class="img12">
                        <img src="/img/service12.webp" alt="image not found">
                        <h3>Global Hair Color</h3>
                    </div>
                    <div class="img13">
                        <img src="/img/service13.webp" alt="image not found">
                        <h3>Bridal Services</h3>
                    </div>
                </div>
            </div>
        </div>

    
        <div class="Bridal-Services">
            <h3>Bridal MakeOver</h3>
            <div class="Bridal-image">
                <img src="/img/bridal-1.webp" alt="image not found">
                <p>Wedding photos need to be flawless to make great memories! Can The Glamour Salon hair & Beauty salon help you get that perfect look on your special day? For decades, The Glamour Salon hair & Beauty salon has been helping Indian brides across the country look their best on the most important day of their lives. The Glamour Salon hair & Beauty salon helps brides look fabulous and shine flawlessly on every occasion. The experts at The Glamour Salon hair & Beauty salon are here to make sure you bring out your best face and create great memories in those photos.</p>
            </div>
        </div>
        <div class="Bridal-artist">
            <h3>The Bridal Team</h3>
            <div class="Bridal-artist-image">
                <img src="/img/bridal-artist-1.webp" alt="image not found">
                <p>"At The Glamour Salon hair & Beauty salon, we make every effort to ensure that every bride exudes confidence and creates memorable moments to cherish for a lifetime. We understand the uniqueness of every bride and strive to enhance her beauty, while staying true to her individual identity. From pre-wedding events to the special wedding day, we are with you every step of the way on this important journey. Our experts undergo extensive training to bring you the best and latest trends from the world of beauty." - The Glamour Salon hair & Beauty salon.</p>
                <img src="/img/bridal-artist-2.webp" alt="image not found">
            </div>
        </div>
        



            <!-- = = = = = = = = = = FOOTER = = = = = = = = = = -->
    <footer class="footer" id="ab">
        <div class="footer-container">
            
            <div class="footer-info">
                <h3>About Us</h3>
                <p>We take care of hair and skin like a baby, giving extra confidence and some more attitude</p>
                <h3 class="footer__title">Information</h3>
                <p>Services
                <br>Academy 
                <br>Franchise
                <br>E-appointment
                <br>E-Shopping
                <br>Terms and conditions 
                <br>Privacy policy</p>  
            </div>
            <div class="footer-contact">
                <h3>Address</h3>
                <p>123, The Glamour Salon, Vijay Nagar, Indore</p>
                <h3>Contact Us</h3>
                <p>Phone: (0731) 456-7890</p>
                <p>Mobile: +91 012 345 6789</p>
                <p>Email: <a href="mailto:info@theGlamourSalon.com">info@TheGlamourSalon.com</a></p>
                <div class="our-top-services">
                    <h3>Our Top Services</h3>
                    <div class="our-top-services-images">
                        <div>
                            <img src="/img/footer-hair.jpeg" alt="image not found">
                            <h5>Hair</h5>
                        </div>
                        <div>
                            <img src="/img/footer-beauty.jpg" alt="image not found">
                            <h5>Beauty</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-social">
                <div class="footer-newsletter">
                    <form action="#" method="post">
                        <h3>Newsletter</h3>
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="#facebook.com"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="#twitter.com"><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li><a href="#youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
                <h3>Mobile apps</h3>
                <ul class="social-icons">
                    <li><a href="#playstore.com"><i class="fa-brands fa-google-play"></i></a></li>
                    <li><a href="#appstore.com"><i class="fa-brands fa-apple"></i></a></li>
                </ul>
            </div>
        </div>     <!-- class="footer-container" -->

        <div class="footer-bottom">
            <p>&copy; 2025 The The Glamour Salon hair & Beauty. All rights reserved.</p>
        </div>
     </footer>




</body>
</html>

