*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* =======  header  ======= */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

nav .logo img{
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    height: 80px;
}

nav .logo  h2 {
    margin-top: 15px;
    font-weight: 400;
    color: #fff;
}

nav .logo h2 span {
    font-size: 16px;
    font-weight: 400;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

nav .shop {
    margin-left: 40px;
    background-color: #007BFF; 
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav .shop:hover {
    background-color: #007BFF;
} 

/* = = = = main-container = = = = */
.main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* = = = product-summary = = = */
.product-summary {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-summary p {
    margin: 10px 0;
}
.product-summary button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}
.product-summary button:hover {
    background-color: #1e5b9b;
}

/* = = = = = form-container = = = = = */
.form-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}
.row {
    display: flex;
    gap: 10px;
}
.row > div {
    flex: 1;
}
.radio-group {
    margin-top: 10px;
}
.submit-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 14px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.submit-btn:hover {
    background-color: #2762a0;
}

.location-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

/* = = = = back-link = = = = */
.back-link {
    text-align: center;
    margin-top: 20px;
}
.back-link a {
    font-size: 20px;
    text-decoration: none;
    color: #007BFF;
}
.back-link a:hover {
    text-decoration: underline;
    color: #06172a;
}
